.App {
  text-align: center;
}

@font-face {
  font-family: myFirstFont;
  src: url(HOLIDAY.TTF);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}


.container {
  display: flex;
  justify-content: center;
  position: center;
}
.container-text{
	display: top;
	text-align: center;
	font-family: myFirstFont;
}


.img-fluid {
	width: 200px;
	height: auto;
	margin: 10px;
	transition: all 1s;
}

.img-fluid:hover {
	transform: scale(2.5);
}


body{
    padding-left: 10px
}

.size {
	width: 60%;
	height: auto;
	margin: 10px;	
	flex-direction: row;
}

div.billedramme {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 220px;
}

.text {
	display: block;
	text-align: left;
}

.overskrift{
	display: block;
}

.sprog {
	width: 50px;
	height: auto;
}

.IT {
	width: 50px;
	height: auto;
}

.education {
	width: 50px;
	height: auto;
}

.erhvervserfaring {
	width: 50px;
	height: auto;
}

.driver {
	width: 50px;
	height: auto;
}

.hobbies {
	width: 50px;
	height: auto;
}
