body {
  margin: 0;
  padding: 0;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C6DE 100%);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
